<?xml version="1.0" encoding="utf-8"?>
<components>
  <component id="XsdResolveLinks"
             type="XsdDocumentation.BuildComponents.XsdResolveLinksComponent"
             assembly="{@ComponentsFolder}\XML Schema Documenter\XsdDocumentation.BuildComponents.dll">
    <description>
      This build component is used to resolve links to XML topics.
    </description>

    <insert placement="before" type="Microsoft.Ddue.Tools.TransformComponent" />
    <insertConceptual placement="before" type="Microsoft.Ddue.Tools.TransformComponent" />

    <hidden />
    <defaultConfiguration />
  </component>
</components>