<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Product.wxi ?>

  <Fragment Id="XsdDocComponentsAndPlugIns">
    <DirectoryRef Id="XsdDocComponentsAndPlugIns">
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.dll" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.PlugIn.plugins" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.BuildComponents.dll" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.BuildComponents.components" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)AnnotationTranform.xslt" />
      </Component>
      <Component>
        <File Source="$(var.HelpFolder)Help.chm" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="XsdDocComponentsAndPlugIns">
      <ComponentRef Id="XsdDocumentation.dll"/>
      <ComponentRef Id="XsdDocumentation.PlugIn.plugins"/>
      <ComponentRef Id="XsdDocumentation.BuildComponents.dll"/>
      <ComponentRef Id="XsdDocumentation.BuildComponents.components"/>
      <ComponentRef Id="AnnotationTranform.xslt"/>
      <ComponentRef Id="Help.chm"/>
    </ComponentGroup>
  </Fragment>

  <Fragment Id="Schemas">
    <DirectoryRef Id="VS90_SCHEMAS_DIR">
      <Component Id="XsdDocumentation.xsd" Guid="{8D7753F8-9588-46CA-89F9-88908A3741C9}">
          <File KeyPath="yes" Source="$(var.EtcFolder)\Schemas\XsdDocumentation.xsd" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="Schemas">
      <ComponentRef Id="XsdDocumentation.xsd"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Feature Id="Binaries" Level="1" Absent="disallow" AllowAdvertise="no"
             Title="SHFB Integration"
             Description="Integrates [ProductName] into Sandcastle Help File Builder (SHFB).">
      <ComponentGroupRef Id="XsdDocComponentsAndPlugIns"/>
      <ComponentGroupRef Id="XsdDocMedia"/>
    </Feature>

    <Feature Id="Schemas" Level="1" AllowAdvertise="no"
             Title="IntelliSense Support"
             Description="Integrates [ProductName] schema files into Visual Studio IntelliSense.">
      <ComponentGroupRef Id="Schemas"/>
    </Feature>
  </Fragment>
</Wix>