<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Product.wxi ?>

  <Product Id="*" UpgradeCode="$(var.UpgradeCode)"
           Name="$(var.ProductName)" Version="!(bind.fileVersion.XsdDocumentation.PlugIn.plugins)"
           Language="1033" Manufacturer="$(var.Manufacturer)">

    <!-- Package Definition -->

    <Package Id="*" Compressed="yes" Description="$(var.ProductShortName) !(bind.fileVersion.XsdDocumentation.PlugIn.plugins)" InstallerVersion="200"
             ShortNames="no" Manufacturer="$(var.Manufacturer)" Languages="1033" SummaryCodepage="1252" />

    <!-- Major Upgrade Support -->

    <MajorUpgrade DowngradeErrorMessage="[ProductName] is already installed in a newer version on your computer." />

    <!-- Properties -->

    <Property Id="ARPPRODUCTICON"   Value="Product.ico" />
    <Property Id="ARPHELPLINK"      Value="$(var.ProductHomePage)" />
    <Property Id="ARPURLINFOABOUT"  Value="$(var.ProductHomePage)" />
    <Property Id="ARPURLUPDATEINFO" Value="$(var.ProductHomePage)" />
    <Property Id="ARPCOMMENTS"      Value="XML schema documentation plug-in for Sandcastle Help File Builder." />

    <!-- Launch Condition Searches -->

    <Property Id="SHFB_EXISTS" Secure="yes">
      <DirectorySearch Id="ShfbRootSearch" Path="[%SHFBROOT]">
        <!-- We must set the version number one lower than the actual file we are looking for. -->
        <FileSearch Name="SandcastleBuilderGUI.exe" MinVersion="1.9.0.0" />
      </DirectorySearch>
    </Property>

    <!-- Launch Conditions -->

    <Condition Message="An administrator must approve or install [ProductName].">
      Privileged
    </Condition>

    <Condition Message="[ProductName] requires Sandcastle Help File Builder 1.9.1.0 or higher. If you just installed it, please reboot in order to ensure required environment variables can be accessed.&#13;&#10;&#13;&#10;You can download it from http://shfb.codeplex.com/.">
      Installed OR SHFB_EXISTS
    </Condition>

    <!-- Icons -->

    <Icon Id="Product.ico" SourceFile="$(var.EtcFolder)Icon\Product.ico" />

    <!-- Media -->

    <Media Id="1" Cabinet="$(var.ProductShortName).cab" CompressionLevel="high" EmbedCab="yes" />

    <!-- Files and Directories -->

    <PropertyRef Id="VS90_SCHEMAS_DIR" />
    <PropertyRef Id="VS2010_SCHEMAS_DIR" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder">
        <Directory Id="EWSoftware" Name="EWSoftware">
          <Directory Id="SHFB" Name="Sandcastle Help File Builder">
            <Directory Id="ComponentsAndPlugIns" Name="Components and Plug-Ins">
              <Directory Id="XsdDocComponentsAndPlugIns" Name="XML Schema Documenter">
                <Directory Id="XsdDocMedia" Name="Media" />
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="VS90_SCHEMAS_DIR" />
      <Directory Id="VS2010_SCHEMAS_DIR" />
    </Directory>

    <!-- Features -->

    <FeatureRef Id="Binaries" />
    <FeatureRef Id="VS2008_Schemas" />
    <FeatureRef Id="VS2010_Schemas" />

    <!-- Install Sequences -->

    <InstallExecuteSequence>
      <FindRelatedProducts Before="LaunchConditions" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <FindRelatedProducts Before="LaunchConditions" />
    </InstallUISequence>

    <!-- WixUI scaffolding -->

    <Property Id="ALLUSERS" Value="1" />
    <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
    <WixVariable Id="WixUIBannerBmp"  Value="Resources\Banner.jpg" />
    <WixVariable Id="WixUIDialogBmp"  Value="Resources\Dialog.jpg" />
    <UIRef Id="WixUI_FeatureTree" />
  </Product>
</Wix>