<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Product.wxi ?>

  <Fragment Id="XsdDocComponentsAndPlugIns">
    <DirectoryRef Id="XsdDocComponentsAndPlugIns">
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.dll" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.PlugIn.plugins" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.BuildComponents.dll" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)XsdDocumentation.BuildComponents.components" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)AnnotationTranform.xslt" />
      </Component>
      <Component>
        <File Source="$(var.HelpFolder)Help.chm" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="XsdDocComponentsAndPlugIns">
      <ComponentRef Id="XsdDocumentation.dll"/>
      <ComponentRef Id="XsdDocumentation.PlugIn.plugins"/>
      <ComponentRef Id="XsdDocumentation.BuildComponents.dll"/>
      <ComponentRef Id="XsdDocumentation.BuildComponents.components"/>
      <ComponentRef Id="AnnotationTranform.xslt"/>
      <ComponentRef Id="Help.chm"/>
    </ComponentGroup>
  </Fragment>

  <Fragment Id="VS2008_Schemas">
    <DirectoryRef Id="VS90_SCHEMAS_DIR">
      <Component Id="VS2008_XsdDocumentation.xsd" Guid="{8D7753F8-9588-46CA-89F9-88908A3741C9}">
          <File Id="VS2008_XsdDocumentation.xsd" Name="XsdDocumentation2008.xsd" KeyPath="yes" Source="$(var.EtcFolder)\Schemas\XsdDocumentation.xsd" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="VS2008_Schemas">
      <ComponentRef Id="VS2008_XsdDocumentation.xsd"/>
    </ComponentGroup>
  </Fragment>

  <Fragment Id="VS2010_Schemas">
    <DirectoryRef Id="VS2010_SCHEMAS_DIR">
      <Component Id="VS2010_XsdDocumentation.xsd" Guid="{FB6C7068-B75C-43B5-BCF8-D7E0194F9A2E}">
        <File Id="VS2010_XsdDocumentation.xsd" Name="XsdDocumentation2010.xsd" KeyPath="yes" Source="$(var.EtcFolder)\Schemas\XsdDocumentation.xsd" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="VS2010_Schemas">
      <ComponentRef Id="VS2010_XsdDocumentation.xsd"/>
    </ComponentGroup>
  </Fragment>

  <Fragment Id="VS11_Schemas">
    <DirectoryRef Id="VS11_SCHEMAS_DIR">
      <Component Id="VS11_XsdDocumentation.xsd"  Guid="{FB3FACB7-F20F-4092-9E7A-AC493693847D}">
        <File Id="VS11_XsdDocumentation.xsd" Name="XsdDocumentation11.xsd" KeyPath="yes" Source="$(var.EtcFolder)\Schemas\XsdDocumentation.xsd" />
      </Component>
    </DirectoryRef>

    <ComponentGroup Id="VS11_Schemas">
      <ComponentRef Id="VS11_XsdDocumentation.xsd"/>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Feature Id="Binaries" Level="1" Absent="disallow" AllowAdvertise="no"
             Title="SHFB Integration"
             Description="Integrates [ProductName] into Sandcastle Help File Builder (SHFB).">
      <ComponentGroupRef Id="XsdDocComponentsAndPlugIns"/>
      <ComponentGroupRef Id="XsdDocMedia"/>
    </Feature>

    <Feature Id="VS2008_Schemas" Level="1" AllowAdvertise="no"
             Title="VS 2008 IntelliSense Support"
             Description="Integrates [ProductName] schema files into Visual Studio 2008 IntelliSense.">
      <Condition Level="0">NOT VS90_SCHEMAS_DIR</Condition>
      <ComponentGroupRef Id="VS2008_Schemas"/>
    </Feature>

    <Feature Id="VS2010_Schemas" Level="1" AllowAdvertise="no"
             Title="VS 2010 IntelliSense Support"
             Description="Integrates [ProductName] schema files into Visual Studio 2010 IntelliSense.">
      <Condition Level="0">NOT VS2010_SCHEMAS_DIR</Condition>
      <ComponentGroupRef Id="VS2010_Schemas"/>
    </Feature>

    <Feature Id="VS11_Schemas" Level="1" AllowAdvertise="no"
             Title="VS 11 IntelliSense Support"
             Description="Integrates [ProductName] schema files into Visual Studio 11 IntelliSense.">
      <Condition Level="0">NOT VS11_SCHEMAS_DIR</Condition>
      <ComponentGroupRef Id="VS11_Schemas"/>
    </Feature>
  </Fragment>
</Wix>