<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Product.wxi ?>

  <Fragment>
    <DirectoryRef Id="XsdDocMedia">
      <Component>
        <File Source="$(var.BinFolder)Media\XsdAllIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdAnyAttributeIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdAnyElementIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdAttributeGroupIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdAttributeIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdAttributeRefIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdChoiceIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdComplexTypeIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdElementIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdElementRefIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdExtensionIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdFacetIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdGroupIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdKeyIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdKeyRefIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdListIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdNamespaceIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdRestrictionIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdSchemaIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdSequenceIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdSimpleTypeIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdUnionIcon.png" />
      </Component>
      <Component>
        <File Source="$(var.BinFolder)Media\XsdUniqueIcon.png" />
      </Component>
    </DirectoryRef>
  </Fragment>
  <Fragment>
    <ComponentGroup Id="XsdDocMedia">
      <ComponentRef Id="XsdAllIcon.png" />
      <ComponentRef Id="XsdAnyAttributeIcon.png" />
      <ComponentRef Id="XsdAnyElementIcon.png" />
      <ComponentRef Id="XsdAttributeGroupIcon.png" />
      <ComponentRef Id="XsdAttributeIcon.png" />
      <ComponentRef Id="XsdAttributeRefIcon.png" />
      <ComponentRef Id="XsdChoiceIcon.png" />
      <ComponentRef Id="XsdComplexTypeIcon.png" />
      <ComponentRef Id="XsdElementIcon.png" />
      <ComponentRef Id="XsdElementRefIcon.png" />
      <ComponentRef Id="XsdExtensionIcon.png" />
      <ComponentRef Id="XsdFacetIcon.png" />
      <ComponentRef Id="XsdGroupIcon.png" />
      <ComponentRef Id="XsdKeyIcon.png" />
      <ComponentRef Id="XsdKeyRefIcon.png" />
      <ComponentRef Id="XsdListIcon.png" />
      <ComponentRef Id="XsdNamespaceIcon.png" />
      <ComponentRef Id="XsdRestrictionIcon.png" />
      <ComponentRef Id="XsdSchemaIcon.png" />
      <ComponentRef Id="XsdSequenceIcon.png" />
      <ComponentRef Id="XsdSimpleTypeIcon.png" />
      <ComponentRef Id="XsdUnionIcon.png" />
      <ComponentRef Id="XsdUniqueIcon.png" />
    </ComponentGroup>
  </Fragment>
</Wix>